<nav id="mainNav" class="header navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <div class="branding">
          <div class="logo">
            <span aria-hidden="true" class="icon_documents_alt icon"></span>
            <span class="text-highlight"><%= gv("site_title_first") %></span><span class="text-bold"><%= gv("site_title_last") %></span>
          </div>
        </div><!--//branding-->
        <ol class="breadcrumb">
          <%= gv "site_title_anecdote" %>
        </ol>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <%= header_nav_link "Accueil", root_path %>
        <%= header_nav_link "Colles", colles_path %>
        <%= header_nav_link "Informations", user_informations_path %>
        <%= header_nav_link "Téléchargements", user_downloads_path %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
