<!DOCTYPE html>
<html>
<head>
  <title>TeacherDen</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="<%= site_color %>">
  <div class="page-wrapper">
    <%= render "shared/header" %>

    <div class="doc-wrapper">
      <div class="container">

        <div class="current_user text-right">
          <% if admin_signed_in? %>
            Admin : <%= current_admin.email %> (<%= link_to "Se déconnecter", destroy_admin_session_path, method: :delete %>)
          <% elsif user_signed_in? %>
            <b><%= link_to current_user.email, user_profile_path %></b> <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
          <% end %>
        </div>

        <%= yield %>

      </div><!--//container-->
    </div><!--//doc-wrapper-->

  </div><!--//page-wrapper-->

  <footer id="footer" class="footer text-center">
    <div class="container">
      <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
      <small class="copyright"><%= gv "bottom_anecdote" %></small>

    </div><!--//container-->
  </footer><!--//footer-->
  </html>
